*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Bai Jamjuree', sans-serif;
    /*border-style: solid;*/
}

@mixin textogris{
    color:hsl(201, 11%, 66%);
    font-size: 18px;
    } 
@mixin os{
    font-size: 14px;
    font-weight: bold;
     border-radius: 25px;
     text-decoration: none;
     color: white;
     padding: 15px 35px;
     margin-left: 2vw;    
}

@mixin h4 { 
    color: hsl(210, 10%, 33%);
    font-size: 2rem;
    text-align: center;
    margin-bottom: 5vh;
}

@mixin margen 
    {margin-left: 25vw; 
    margin-right: 25vw;
    text-align: center;}



p{@include textogris;}

body{ 
    header {
        background-image:url('../images/bg-header-desktop.png');
        text-align: center;
        padding-top: 20vh;
            img{height:19vh ;
            margin-bottom: 5vh;}
        }
    main{
         section:nth-child(1){
            text-align: center;
            margin-bottom: 20vh;
                h1{color: hsl(210, 10%, 33%);
                font-size: 2.5rem;
                margin-top: 5vh;            
                }
                 p{ @include textogris;
                margin-top: 5vh;
                margin-bottom: 10vh;
                margin-left: 25vw; 
                margin-right: 25vw;             
                }
                a.ios{@include os;
                background-color:hsl(171, 66%, 44%);
                box-shadow: 0px 4px 4px 4px hsl(170, 33%, 78%);
                }
                 a.mac{@include os;
                background-color: hsl(233, 100%, 69%);
                box-shadow: 0px 4px 4px 4px hsl(233, 93%, 88%);
                }
        }
        section:nth-child(2){
            margin-bottom: 15vh;
            h4 {
                @include h4;
                @include margen;
            }
            p {@include margen;
            margin-bottom: 5vh;}
            article{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                img{height: 70vh;
                    margin-left: 5vw;
                }
                div{
                    margin-left: 5vw;
                    ul{
                        height: 80%;
                        padding-inline-start: 0px;
                        list-style-type: none;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;            
                    
                        li{
                            span{color:hsl(210, 10%, 33%);
                            font-size: 1.3rem;
                            font-weight: bold;
                            text-align: justify;
                            margin-left: 5vw
                            }
                            p {margin: 0;
                            font-size: 16px;
                            text-align: justify;
                            margin-top: 3vh;
                            margin-left: 5vw;
                            margin-right: 5vw;
                            }       
                        }
                    }
                }
            }
        }
        section:nth-child(3){
            h4{@include h4;}
            p {@include margen;
            margin-bottom: 4vh;}
            div{text-align: center; 
                img {height: 70vh;}    
            }
        }
        section:nth-child(4){
            h4 {@include h4;}
            
            p:nth-child(2) {
                @include margen;
                margin-bottom: 8vh;
            }
                div{                    
                    ul {display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                        list-style-type: none;
                        li{
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-start;
                            align-items: center;
                            width: 20vw;
                            i{
                                color:hsl(201, 11%, 66%);
                                font-size: 2rem;}
                            span{
                                font-size: 1.3rem;
                                font-weight: bold;
                            margin-top:5vh;
                            margin-bottom: 3vh;}
                            p{font-size: 0.9rem;
                            }
                        }
                    }    
                }
            }

        }

        section:nth-child(5){
            margin-left: 7vw;
            margin-right: 7vw;
            margin-top: 20vh;
            margin-bottom: 10vh;
            line-height: 10px;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
               img {height:100%;}
         }

         section:nth-child(6){
            margin-top: 20vh;
            margin-bottom: 25vh;
            text-align: center;

                h4 {@include h4;}
                p{
                    @include margen;
                    margin-bottom: 10vh;}
                a.ios{
                    @include os;
                    background-color:hsl(171, 66%, 44%);
                    box-shadow: 0px 4px 4px 4px hsl(170, 33%, 78%);
                    }
                a.mac{
                    @include os;
                    background-color: hsl(233, 100%, 69%);
                    box-shadow: 0px 4px 4px 4px hsl(233, 93%, 88%);
                    }
         }
    
    footer{
        div{
            background-color:rgb(241, 237, 237);
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            padding: 4vh;
            
            img{height: 8vh;}
            nav{
                display: grid;
                grid-template-columns: auto auto auto;
                grid-template-rows: auto auto;
                grid-column-gap: 10vw;
                grid-row-gap: 2vh;
                a{
                    text-decoration: none;
                    color:hsl(210, 10%, 33%);
                    font-weight: bold; 
                    &:hover{color: hsl(171, 66%, 44%)}
                   }                
                }

            div{
                i{
                 font-size: 1.3rem;
                 color:hsl(210, 10%, 33%);
                 margin-left: 2vw;
                    &:hover{
                        color: hsl(171, 66%, 44%);
                        cursor: pointer;
                     }
                }
               
            }
        }        
    }
}
.attribution {
    margin-top: 5vh;
    margin-bottom: 5vh;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@mixin mobile {
    width: 80vw;
    margin:0vw 10vw 0vh 10vw;
    text-align: center;
     }

@media (max-width: 375px) {
        body main section:nth-child(1){
            h1 {
            @include mobile;
            font-size: 1.8rem;}
            p {@include mobile}
            a.ios {
                display:block;
                @include mobile;
                margin-top: 5vh;}
            a.mac{   
                display:block;
                @include mobile;
            margin-top: 5vh;}
        }

        body main section:nth-child(2){
            margin-bottom: 10vh;
            h4{@include mobile;
                margin-bottom: 2vh;
            font-size: 1.8rem;}
            p{@include mobile;}
            article {
                flex-direction: column;
                text-align: center;
                margin-top: 5vh;
                    img{@include mobile;
                    height: auto;
                margin-bottom: 5vh;}
                
            }
        }
        body main section:nth-child(3) {
            h4{@include mobile;
                font-size: 1.8rem;}
            p{@include mobile;
                margin-top: 2vh;
            margin-bottom: 2vh;}
            div img{@include mobile;
                height: auto;
            margin-bottom: 5vh;}
        }
        body main section:nth-child(4){
        ;
            h4{@include mobile;
                font-size: 1.8rem;}
            p:nth-child(2){ 
                @include mobile;
                margin-top: 2vh;
            margin-bottom: 2vh;}
            div {
                ul{flex-direction: column;
                    padding-inline-start: 0px;
                li{@include mobile;}}
            }
        }
        body main section:nth-child(5){
            flex-direction: column;
            @include mobile;
            align-items: center;
            img {
                width: 40vw;
            margin-top:5vh;}
        }
        body main section:nth-child(6){
            h4 {
            @include mobile;
            font-size: 1.8rem;}
            p {@include mobile}
            a.ios {
                display:block;
                @include mobile;
                margin-top: 5vh;}
            a.mac{   
                display:block;
                @include mobile;
            margin-top: 5vh;}
        }
        body footer div{
            flex-direction: column;
            nav{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 4vh;
            }
            div{
                width:40vw;
                flex-direction: row;}
        }
    
}
