/*colores*/

$color-uva:  hsl(300, 43%, 22%);
$color-texto: hsl(303, 10%, 53%);
$rosa-palido: hsl(300, 24%, 96%);
$pink:hsl(333, 80%, 67%);

* {box-sizing: border-box;
    margin: 0px;}
    
body{
  font-family:'Spartan', sans-serif;
  background-image: url("../images/bg-pattern-top-mobile.svg"), url("../images/bg-pattern-bottom-mobile.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: left top, center bottom;
 
  
  .bodytop{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;

        .ten{
          h1{color: $color-uva;
            font-weight: 700;
            width: 70vw;
            text-align: center;
            margin:5vh 15vw 3vh;            
          }
          p{
            color: $color-texto;
            width: 90vw;
            text-align: center;
            margin: 0vh 5vw ;
          }
        }
        .stars{
          
          article{
            background-color: $rosa-palido;
            text-align: center;
            border-radius: 10px;
            width: 80vw;
            padding: 3vh;
            margin: 4vh 10vw;
            .iconos{   
            }
            .rated{
              margin-top: 2vh;
              color: $color-uva;
              font-weight: 700;

            }

          }
        }

  }
  .bodybottom{
    .testimonials{
      background-color: $color-uva;
      border-radius: 10px;
      padding: 30px;
      margin-bottom: 20px;
      width: 80vw;
      margin-left: 8vw;
      margin-right: 8vw;
      
      .profile{        
        display: flex;
        justify-content: flex-start;         
        img{
          border-radius: 50%;
          width: 40px;
          height: 40px;
        }
        div{
          margin-left: 15px;
          font-weight:500;
          font-size: 0.8em;
          display: flex;
          flex-direction: column;
          justify-content: space-around;          
          p:nth-child(1){
            color: white;   
          }
          p:nth-child(2){
            color:$pink;            
          }
        }
      }
      p.testimonialtext{
          color: white;
          font-weight: 400;
          width: 70vw;
          font-size: 0.8em;
          margin: 20px 0px;
          line-height: 1.5em;
          text-align: start;
      }
    }
  }
}      

     
.attribution {
  margin-top: 5vh;
        font-size: 11px;
        text-align: center;
      }
.attribution a {
        color: hsl(228, 45%, 44%);
      }
   

@media (min-width:376px){
  body{
    background-image: url("../images/bg-pattern-top-desktop.svg") ,url("../images/bg-pattern-bottom-desktop.svg");
    
    .bodytop{
   
     .ten{
         
       width: 40vw;
        h1{
          width: 30vw;
          text-align: left;
          font-size: 2.3em;
          margin:0;
          margin-left: 6vw; 
          margin-top: 5vh;
                   
        }
        p{
          width: 40vw;
          margin-left: 6vw;
          margin-right: 15vw;
          margin-top: 3vh;
          text-align: left;
          line-height: 2em;
        
        }
      }
      .stars{
        margin-top: 4vh;
        .article{
          width: 35vw;
          display: flex;
          justify-content: flex-start; 
          align-items: center; 
          margin-left: 5vw;
          margin-right: 10vw; 
          padding: 15px;
           
                 
            .iconos{
                    margin-left: 20px;        
            }
            .rated{
              text-align: left;                         
              margin-top: 0vh;
              margin-left: 20px;             
              color: $color-uva;
              font-weight: 700;
            } 
        &:nth-child(2){
              position: relative;
              left: 50px;
            }   
        &:nth-child(3){              
              position: relative;
              left: 100px;
            }               
        }
        
      }
    }
    .bodybottom{
      margin-left: 4vw;
      margin-top: 3vh;
      display: flex;
      flex-direction: row;
      
      .testimonials{
        width: 27vw;
        margin-left: 4vw;
        margin-right: 0vw;        
        p.testimonialtext{
          width: 24vw;
        }
      &:nth-child(2){
        position: relative;
        top:20px;
      }
      &:nth-child(3){
        position: relative;
        top:40px;
      }
      }
    }
  }
}