* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  /*border-style: solid;*/
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px;
}

header a {
  text-decoration: none;
  border-style: solid;
  color: #ff52bf;
  border-color: #ff52bf;
  border-radius: 20px;
  padding: 8px 20px;
  font-size: 0.8rem;
}

header a:hover {
  color: #ff8fd8;
  border-color: #ff8fd8;
}

.div1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.div1 h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
}

.div1 p {
  margin: 5vh 15vw;
}

.div1 a {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  background-color: #ff52bf;
  border-radius: 25px;
  padding: 10px 30px;
  color: white;
  margin-bottom: 5vh;
}

.div1 a:hover {
  background-color: #ff8fd8;
}

.div1 img {
  width: 70%;
  height: auto;
}

.div2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.div2 span {
  margin-top: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.div2 span p:nth-child(2) {
  font-weight: 900;
  font-size: 3.4rem;
}

.div2 span p:nth-child(3) {
  color: gray;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 0.9rem;
}

.div3 img.mobiletop1 {
  display: none;
}

.div3 img.mobilebottom1 {
  display: none;
}

.div3 img.desktoptop1 {
  max-width: 100%;
  height: auto;
  display: block;
}

.div3 div {
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  background-color: #f5faff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.div3 div span {
  margin-top: 0px;
  width: 40vw;
}

.div3 div span p:nth-child(1) {
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  margin-bottom: 3vh;
}

.div3 div span p:nth-child(2) {
  font-weight: 400;
}

.div3 div img {
  width: 30vw;
}

.div4 {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #f5faff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: white;
  margin-top: 8vh;
  margin-bottom: 8vh;
}

.div4 img {
  width: 30vw;
}

.div4 span {
  margin-top: 0px;
  width: 40vw;
}

.div4 span p:nth-child(1) {
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  margin-bottom: 3vh;
}

.div4 span p:nth-child(2) {
  font-weight: 400;
}

.div5 img.mobiletop2 {
  display: none;
}

.div5 img.mobilebottom2 {
  display: none;
}

.div5 img.desktoptop2 {
  max-width: 100%;
  height: auto;
  display: block;
}

.div5 div {
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  background-color: #f5faff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.div5 div span {
  margin-top: 0px;
  width: 40vw;
}

.div5 div span p:nth-child(1) {
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  margin-bottom: 3vh;
}

.div5 div span p:nth-child(2) {
  font-weight: 400;
}

.div5 div img {
  width: 30vw;
}

.div6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.div6 p {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  margin-top: 10vh;
  margin-bottom: 5vh;
}

.div6 a {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  background-color: #ff52bf;
  border-radius: 25px;
  padding: 10px 30px;
  color: white;
  margin-bottom: 15vh;
}

.div6 a:hover {
  background-color: #ff8fd8;
}

footer img.mobilefootertop {
  display: none;
}

footer img {
  max-width: 100%;
  height: auto;
  display: block;
}

footer div.wrapper {
  color: white;
  background-color: #00252e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-bottom: 10vh;
}

footer div.wrapper .logo {
  /*height: 4rem;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0px;
}

footer div.wrapper .logo img {
  height: 2rem;
}

footer div.wrapper .logo span {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  margin-top: 0px;
  margin-left: 1vw;
}

footer .footerdiv1 {
  width: 30vw;
}

footer .footerdiv1 span {
  margin-top: 3vh;
  display: inline-block;
}

footer .footerdiv1 span img {
  display: inline;
  margin-right: 1vw;
}

footer .footerdiv1 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 8vh;
}

footer .footerdiv1 div i {
  font-size: 2rem;
  margin-right: 1.5rem;
}

footer .footerdiv1 div i:hover {
  color: #4693f8;
}

footer .footerdiv2 {
  width: 30vw;
}

footer .footerdiv2 p:nth-child(1) {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 3vh;
}

footer .footerdiv2 p:nth-child(2) {
  margin-bottom: 5vh;
}

footer .footerdiv2 form input {
  line-height: 1.8rem;
  border-radius: 5px;
  width: 15vw;
}

footer .footerdiv2 form input:invalid {
  border-style: solid;
  border-color: #ff4242;
}

footer .footerdiv2 form label a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  background-color: #ff52bf;
  border-radius: 5px;
  padding: 8px 20px;
  color: white;
  font-size: 0.8rem;
  margin-left: 3vw;
}

footer .footerdiv2 form label a:hover {
  background-color: #ff8fd8;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution .attribution a {
  color: #3e52a3;
}

@media (max-width: 375px) {
  header {
    margin-top: 5vh;
    margin-left: 5vw;
    margin-right: 5vw;
  }
  header img {
    width: 37%;
  }
  header a {
    font-size: 0.6rem;
    padding: 4px 17px;
  }
  main div.div1 {
    text-align: center;
  }
  main div.div1 h2 {
    font-size: 1.5rem;
    margin-top: 10vh;
    margin-left: 5vw;
    margin-right: 5vw;
    text-align: center;
  }
  main div.div1 p {
    margin: 10vh;
  }
  main div.div1 img {
    width: 90%;
    margin-top: 10vh;
    margin-bottom: 3vh;
  }
  main div.div2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 5vh;
  }
  main div.div2 span {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 5vh;
    margin-top: 0;
  }
  main div.div2 span img {
    width: 10%;
    position: relative;
    right: 50px;
  }
  main div.div3 img.desktoptop1 {
    display: none;
  }
  main div.div3 img.mobiletop1 {
    display: initial;
    display: block;
  }
  main div.div3 img.mobilebottom1 {
    display: initial;
  }
  main div.div3 img.desktopbottom1 {
    display: none;
  }
  main div.div3 div {
    padding-top: 10vh;
    padding-bottom: 10vh;
  }
  main div.div3 div span {
    width: 80vw;
    text-align: center;
  }
  main div.div3 div span p:nth-child(1) {
    font-size: 1.3rem;
    margin-top: 10vh;
    margin-bottom: 5vh;
  }
  main div.div3 div span img.grow {
    width: 65vw;
  }
  main div.div4 {
    margin-top: 10vh;
    margin-bottom: 10vh;
  }
  main div.div4 img.flowing {
    width: 65vw;
  }
  main div.div4 span {
    width: 80vw;
    text-align: center;
  }
  main div.div4 span p:nth-child(1) {
    font-size: 1.3rem;
    margin-top: 10vh;
    margin-bottom: 5vh;
  }
  main div.div5 img.desktoptop2 {
    display: none;
  }
  main div.div5 img.mobiletop2 {
    display: initial;
    display: block;
  }
  main div.div5 img.desktopbottom2 {
    display: none;
  }
  main div.div5 img.mobilebottom2 {
    display: initial;
  }
  main div.div5 div {
    padding-top: 10vh;
    padding-bottom: 10vh;
  }
  main div.div5 div span {
    width: 80vw;
    text-align: center;
  }
  main div.div5 div span p:nth-child(1) {
    font-size: 1.3rem;
    margin-top: 10vh;
    margin-bottom: 5vh;
  }
  main div.div5 div img.users {
    width: 65vw;
  }
  main div.div6 p {
    font-size: 1.5rem;
    text-align: center;
  }
  /*fin main*/
}

/*fin @mediaquery*/
/*# sourceMappingURL=styles.css.map */