*{
    box-sizing: border-box;
    margin: 0;
    /*border: solid 1px rgb(100, 99, 99);*/
}
@import "_variables.scss";

body {background-color: hsl(233, 47%, 7%);
        display: flex;
        flex-direction: column;
    
    }
.attribution { font-size: 11px; text-align: center;color:pink }
.attribution a { color: hsl(228, 45%, 44%); }


main span.todo{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    margin-left: 9vw;
    margin-right: 9vw;
    margin-top:20vh;
    margin-bottom: 15vh;
    border-radius: 10px;
    background-color: hsl(244, 38%, 16%);
    width: 80vw;
    
    
    div.textdiv{
        width:$divwidth;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-left:  10px;        ;
    
        section{font-family: 'Inter',sans-serif;
            h1{color: hsl(0, 0%, 100%);
                font-size: 2rem;
                font-weight: 700;
                line-height: 2.5rem;
                padding:20px;
                span{color:hsl(277, 64%, 61%);
                }
            }
            article{color:hsla(0, 0%, 100%, 0.75);
                font-size: 1rem;
                padding: 20px;
                line-height: 1.2rem;
            }
        }
        section.stats{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            font-family: 'Lexend Deca', sans-serif;
            span{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items:left;
                width: $divwidth;

                div:nth-child(1) {
                    color:hsl(0, 0%, 100%);
                    font-size: 1.2rem;
                    
                }
                div:nth-child(2){
                    color:hsla(0, 0%, 100%, 0.6);
                    font-size: 0.6rem;
                    ;
                }
            }
        }

    }


    span.imagen{ 
        margin:0px;     
        width:$divwidth; 
        background: linear-gradient( rgba(170, 92, 219, 0.6),rgba(170, 92, 219, 0.6)),
         url(../images/image-header-desktop.jpg);
         background-size:cover;
         height: 60vh;
        /* background-position: center;*/
         background-repeat: no-repeat;
         background-size: 100%;
               
       
        }
footer {display: flex;
flex-direction: column;}
}

@media (max-width: 375px){
    main span.todo {
          
    
        div.textdiv {width: 80vw;
            padding-left: 0px;

            section{
            width: 80vw;
            text-align: center;
            padding-left: 0px;
           
             h1{
                 font-size: 1.9rem;
                 padding: 10px;
                }
             article {
                padding: 5px 15px 10px;  
                line-height: 25px; 
                font-size: 0.9rem;             }
            }

            section.stats{
                flex-direction: column;
                align-items: center;
                gap: 20px;
                margin: 20px 0px;
            }
        }
        span.imagen{
            width: 80vw;
            background: linear-gradient( rgba(170, 92, 219, 0.6),rgba(170, 92, 219, 0.6)),
            url(../images/image-header-mobile.jpg);
            background-size:cover;
            background-repeat: no-repeat;
            background-size: 100%;
            height: 30vh;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
    }    
}